{{ define "main" }}
  <div style="padding: 0; background: #f5f5f5; font-family: monospace; white-space: pre-wrap;">
    <h1 style="padding: 1rem">Debug Information</h1>
    {{ partial "debug/debug.html" . }}
    <h3>Site Taxonomies</h3>
    <table border="1" cellpadding="5" cellspacing="0">
      <thead>
        <tr>
          <th style="text-align: center;">Taxonomy</th>
          <th style="text-align: center;">Term</th>
          <th>URL</th>
          <th>Count</th>
          <th>Product</th>
          <th>Product URL</th>
        </tr>
      </thead>
      <tbody>
        {{ range $taxonomyName, $taxonomy := .Site.Taxonomies }}
          {{ $taxonomyRowCount := 0 }}
          <!-- Calculate the total row count for the taxonomy -->
          {{ range $term, $value := $taxonomy }}
            {{ $taxonomyRowCount = add $taxonomyRowCount (len $value.Pages) }}
          {{ end }}

          {{ $firstRow := true }}
          {{ range $term, $value := $taxonomy }}
            {{ $rowCount := len $value.Pages }}
            {{ range $i, $page := $value.Pages }}
              <tr>
                <!-- Only show the taxonomy name once (for the first row of the taxonomy) -->
                {{ if and $firstRow (eq $i 0) }}
                  <td rowspan="{{ $taxonomyRowCount }}" style="text-align: center;"><a href="{{ printf "/%s" $taxonomyName | urlize }}">/{{ $taxonomyName }}</a></td>
                  {{ $firstRow = false }}
                {{ end }}

                <!-- Only show the term details for the first row of the term -->
                {{ if eq $i 0 }}
                  <td rowspan="{{ $rowCount }}" style="text-align: center;">{{ $term }}</td>
                  <td rowspan="{{ $rowCount }}" style="text-align: center;"><a href="{{ printf "/%s/%s" $taxonomyName $term | urlize }}">/{{ $taxonomyName }}/{{ $term }}</a></td>
                  <td rowspan="{{ $rowCount }}" style="text-align: center;">{{ $rowCount }}</td>
                {{ end }}

                <!-- Product details in every row -->
                <td>{{ $page.Title }}</td>
                <td><a href="{{ printf "%s%s" $.Site.BaseURL $page.RelPermalink }}">{{ $page.RelPermalink }}</a></td>
              </tr>
            {{ end }}
          {{ end }}
        {{ end }}
      </tbody>
    </table>
  </div>
{{ end }}
