{{ $page := . }}
{{ $currentPath := $page.RelPermalink }}

{{ $isProduct := or
  (and (eq $page.Language.LanguageCode "en") (in $currentPath "/products") (gt (len (split $currentPath "/")) 3))
  (and (in $currentPath (printf "/%s/products" $page.Language.LanguageCode)) (gt (len (split $currentPath "/")) 4))
}}
{{/*{{ printf "Page: %s, Product: %v" $page.RelPermalink $isProduct }}*/}}

<nav aria-label="Menu" class="menu-nav">
  <ol class="menu-list">
    <!-- Loop through menu items as usual -->
    {{ range .Site.Menus.main }}
      <li class="menu-item">
        <a href="{{ .URL }}" class="{{ if eq (strings.TrimRight "/" $currentPath ) .URL }}active{{ end }}">
          {{ if .Params.icon }}
            {{ $iconPath := printf "icons/%s" .Params.icon }}
            {{ $iconFileExists := fileExists (printf "layouts/partials/%s" $iconPath) }}
            {{ if not $iconFileExists }}
              {{ errorf "Icon '%s' for menu item '%s' not found in '/layouts/partials/icons/'" .Params.icon .Name }}
            {{ else }}
              <!-- Render the icon using partials -->
              {{ partial $iconPath . }}
            {{ end }}
          {{ end }}
          <span>{{ .Name }}</span>
        </a>
      </li>
    {{ end }}

    {{ if $isProduct }}
      {{ if not .Params.confections }}
        {{ errorf "Product page '%s' (URL: %s) is missing the 'confections' taxonomy value in the front matter. This is required to categorize the product." $page.Title $currentPath }}
      {{ end }}
      {{ $foundCategory := false }}
      {{ if .Params.confections }}
        {{ $category := index .Params.confections 0 }}
        {{ range $.Site.Menus.main }}
          {{ if eq .Identifier $category }}
            <li class="menu-item active" aria-current="page">
              {{ $.Title }}
            </li>
          {{ end }}
        {{ end }}
      {{ else }}
        {{ if not $foundCategory }}
          <li class="menu-item active" aria-current="page">
            {{ $page.Title }}
          </li>
        {{ end }}
      {{ end }}
    {{ end }}
    <li class="menu-item">
      {{ partial "language-selector.html" . }}
    </li>
  </ol>
</nav>
