{{/*<nav class="breadcrumb" aria-label="breadcrumb">*/}}
{{/*        {{ $currentPage := . }}*/}}
{{/*        {{ $currentSection := .Section }}*/}}
{{/**/}}
{{/*        */}}{{/* Always show Home */}}
{{/*        <a href="/">Home</a>*/}}
{{/**/}}
{{/*        */}}{{/* If we're not on homepage */}}
{{/*        {{ if ne .RelPermalink "/" }}*/}}
{{/*                {{ if $currentSection }}*/}}
{{/*                        <span class="separator"></span>*/}}
{{/*                        */}}{{/* Show section name (like "Products") */}}
{{/*                        {{ if eq $currentSection "products" }}*/}}
{{/*                                {{ if .IsSection }}*/}}
{{/*                                        <span class="current">Products</span>*/}}
{{/*                                {{ else }}*/}}
{{/*                                        */}}{{/* For product pages, show Products > Product Name */}}
{{/*                                        <a href="/products/">Products</a>*/}}
{{/*                                        <span class="separator"></span>*/}}
{{/*                                        <span class="current">{{ .Title }}</span>*/}}
{{/*                                {{ end }}*/}}
{{/*                        {{ end }}*/}}
{{/*                {{ end }}*/}}
{{/*        {{ end }}*/}}
{{/*</nav>*/}}

{{/**/}}
{{/*{{ $currentPage := . }}*/}}
{{/*<div class="nav-container">*/}}
{{/*    <nav class="breadcrumb"*/}}
{{/*         aria-label="breadcrumb"*/}}
{{/*         itemscope*/}}
{{/*         itemtype="https://schema.org/BreadcrumbList">*/}}
{{/*        {{ range $index, $item := .Site.Menus.main.ByWeight }}*/}}
{{/*            <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">*/}}
{{/*                {{ if .HasChildren }}*/}}
{{/*                    {{ if $currentPage.HasMenuCurrent "main" . }}*/}}
{{/*                        <a href="{{ .URL }}"*/}}
{{/*                           itemprop="item"*/}}
{{/*                           {{ if eq $currentPage.RelPermalink .URL }}class="active"{{ end }}>*/}}
{{/*                            <span itemprop="name">{{ .Name }}</span>*/}}
{{/*                        </a>*/}}
{{/*                        <meta itemprop="position" content="{{ add $index 1 }}" />*/}}
{{/*                        <span class="separator" aria-hidden="true">/</span>*/}}
{{/*                        {{ range .Children }}*/}}
{{/*                        {{ if $currentPage.IsMenuCurrent "main" . }}*/}}
{{/*                            <span class="current" itemprop="name">{{ .Name }}</span>*/}}
{{/*                        {{ else }}*/}}
{{/*                            <a href="{{ .URL }}" itemprop="item">*/}}
{{/*                                    <span itemprop="name">{{ .Name }}</span>*/}}
{{/*                                </a>*/}}
{{/*                        {{ end }}*/}}
{{/*                            <span class="separator" aria-hidden="true">/</span>*/}}
{{/*                    {{ end }}*/}}
{{/*                    {{ end }}*/}}
{{/*                {{ else }}*/}}
{{/*                    {{ if $currentPage.IsMenuCurrent "main" . }}*/}}
{{/*                        <span class="current" itemprop="name">{{ .Name }}</span>*/}}
{{/*                    {{ else }}*/}}
{{/*                        <a href="{{ .URL }}"*/}}
{{/*                           itemprop="item"*/}}
{{/*                           {{ if eq $currentPage.RelPermalink .URL }}class="active"{{ end }}*/}}
{{/*                           {{ if .Title }}title="{{ .Title }}"{{ end }}>*/}}
{{/*                            <span itemprop="name">{{ .Name }}</span>*/}}
{{/*                        </a>*/}}
{{/*                    {{ end }}*/}}
{{/*                    <meta itemprop="position" content="{{ add $index 1 }}" />*/}}
{{/*                    {{ if not (eq .Weight (len $.Site.Menus.main)) }}*/}}
{{/*                    <span class="separator" aria-hidden="true">/</span>*/}}
{{/*                {{ end }}*/}}
{{/*                {{ end }}*/}}
{{/*            </span>*/}}
{{/*        {{ end }}*/}}
{{/*    </nav>*/}}
{{/*</div>*/}}

{{ $currentPage := . }}
<div class="nav-container">
    <nav class="breadcrumb" aria-label="breadcrumb">
        {{ range .Site.Menus.main.ByWeight }}
            {{ if .HasChildren }}
                {{ if $currentPage.HasMenuCurrent "main" . }}
                    <a href="{{ .URL }}">{{ .Name }}</a>
                    <span class="separator">/</span>
                    {{ range .Children }}
                        {{ if $currentPage.IsMenuCurrent "main" . }}
                            <span class="current">{{ .Name }}</span>
                        {{ else }}
                            <a href="{{ .URL }}">{{ .Name }}</a>
                            <span class="separator">/</span>
                        {{ end }}
                    {{ end }}
                {{ end }}
            {{ else }}
                {{ if $currentPage.IsMenuCurrent "main" . }}
                    <span class="current">{{ .Name }}</span>
                {{ else }}
                    <a href="{{ .URL }}" {{ if eq $currentPage.RelPermalink .URL }}class="active"{{ end }}>
                        {{ .Name }}
                    </a>
                    {{ if not (eq .Weight (len $.Site.Menus.main)) }}
                        <span class="separator">/</span>
                    {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
    </nav>
</div>

{{/*<header class="navbar">*/}}
{{/*    <div class="navbar-container">*/}}
{{/*        <a href="/" class="navbar-logo">{{ .Site.Title }}</a>*/}}
{{/*        <input type="checkbox" id="navbar-toggle" class="navbar-toggle-checkbox">*/}}
{{/*        <label for="navbar-toggle" class="navbar-toggle" aria-label="Toggle navigation menu">*/}}
{{/*            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">*/}}
{{/*                <line x1="3" y1="12" x2="21" y2="12"></line>*/}}
{{/*                <line x1="3" y1="6" x2="21" y2="6"></line>*/}}
{{/*                <line x1="3" y1="18" x2="21" y2="18"></line>*/}}
{{/*            </svg>*/}}
{{/*        </label>*/}}
{{/*        <nav class="navbar-menu">*/}}
{{/*            {{ $currentPage := . }}*/}}
{{/*            {{ range .Site.Menus.main }}*/}}
{{/*                <a href="{{ .URL }}" class="navbar-link{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">*/}}
{{/*                    {{ .Name }}*/}}
{{/*                </a>*/}}
{{/*            {{ end }}*/}}
{{/*        </nav>*/}}
{{/*    </div>*/}}
{{/*</header>*/}}

{{/*<nav>*/}}
{{/*    <div class="logo">*/}}
{{/*        <a href="/">{{ .Site.Title }}</a>*/}}
{{/*    </div>*/}}
{{/*    <ul class="menu">*/}}
{{/*        {{ range .Site.Menus.main }}*/}}
{{/*            <li><a href="{{ .URL }}">{{ .Name }}</a></li>*/}}
{{/*        {{ end }}*/}}
{{/*    </ul>*/}}
{{/*</nav>*/}}