{{ warnf "Pricing: %+v" . }}
{{ $pricing := . }}

{{ with $pricing.byWeight }}
  <div class="product-price">
    <span class="price-value">
    {{/* Handle quoted positive numbers (e.g. "+1") */}}
      {{- if hasPrefix (printf "%v" .price) "+" -}}
        +${{ trim (printf "%v" .price) "+" -}}
        {{/* Handle negative numbers (e.g. -2) so sign appears before $ */}}
      {{- else if lt .price 0 -}}
        -${{ math.Abs .price }}
        {{/* All other numbers - display as is */}}
      {{- else -}}
        ${{ .price }}
      {{- end -}}
    </span>/<span class="price-unit">{{ i18n "price_per_pound_text" }}
    {{ with .count }}
      ({{ . }} {{ i18n "price_item_text" . }})
    {{ end }}
    </span>
  </div>
{{ end }}

{{ if and $pricing.byEach $pricing.byWeight }}
  <span class="price-separator">
{{/*    {{ i18n "price_or_text" }}*/}}
  </span>
{{ end }}

{{ with $pricing.byEach }}
  <div class="product-price">
    <span class="price-value">
    {{/* Handle quoted positive numbers (e.g. "+1") */}}
      {{- if hasPrefix (printf "%v" .price) "+" -}}
        +${{ trim (printf "%v" .price) "+" -}}
        {{/* Handle negative numbers (e.g. -2) so sign appears before $ */}}
      {{- else if lt .price 0 -}}
        -${{ math.Abs .price }}
        {{/* All other numbers - display as is */}}
      {{- else -}}
        ${{ .price }}
      {{- end -}}
    </span><span>/</span><span class="price-unit">{{ i18n "price_per_item_text" }}</span>
{{/*    </span>/<span class="price-unit">{{ i18n "price_per_item_text" }}</span>*/}}
  </div>
{{ end }}
