{{ warnf "Pricing: %+v" . }}
{{ $pricing := . }}

{{ with $pricing.byWeight }}
  <div class="product-price">
    <span class="price-value">
      {{ partial "pricing/price-str.html" .price }}
    </span>
    <span>/</span>
    <span class="price-unit">{{ i18n "price_per_pound_text" }}
      {{ with .count }}
        ({{ . }} {{ i18n "price_item_text" . }})
      {{ end }}
    </span>
  </div>
{{ end }}

{{ if and $pricing.byEach $pricing.byWeight }}
  <span class="price-separator">
{{/*    {{ i18n "price_or_text" }}*/}}
  </span>
{{ end }}

{{ with $pricing.byEach }}
  {{ if reflect.IsSlice . }}
    {{/* Handle array of prices */}}
    {{ range . }}
      <div class="product-price">
        <span class="price-value">
          {{ partial "pricing/price-str.html" .price }}
        </span>
        <span>/</span>
        <span class="price-unit">{{ i18n "price_item_text" 1 }}
          {{ with .weight }}
            ({{ . }} {{ i18n "price_per_pound_text" . }} )
          {{ end }}
        </span>
      </div>
    {{ end }}
  {{ else }}
    {{/* Handle single price */}}
    <div class="product-price">
      <span class="price-value">
        {{ partial "pricing/price-str.html" .price }}
      </span>
      <span>/</span>
      <span class="price-unit">{{ i18n "price_per_item_text" }}</span>
    </div>
  {{ end }}
{{ end }}

{{- define "partials/pricing/price-str.html" -}}
  {{- $result := "" -}}
  {{- $price := . -}}

  {{- if hasPrefix (printf "%v" $price) "+" -}}
    {{/* Handle quoted positive numbers (e.g. "+1") */}}
    {{- $result = printf "+$%v" (trim (printf "%v" $price) "+") -}}
  {{- else if lt $price 0 -}}
    {{/* Handle negative numbers (e.g. -2) so sign appears before $ */}}
    {{- $result = printf "-$%v" (math.Abs $price) -}}
  {{- else -}}
    {{/* All other numbers - display as is*/}}
    {{- $result = printf "$%v" $price -}}
  {{- end -}}
  {{- return $result -}}
{{- end -}}
