{{/*{{ partial "debug.html" . }}*/}}

{{ $category := .Params.category }}
{{ $confection := .Params.confection }}

{{ $params := .Params }}
{{ $category := .Params.category }}

{{/*properly gets all language-specific pages in the products section.*/}}
{{ $products := .RegularPages }}

{{ if isset . "products" }}
  {{ $products = .products }}
{{ end }}

{{ if $category }}
  {{ warnf "INFO: using category %s" $category }}
  {{ $products = where $products ".Params.category" $category }}
{{ else }}
  {{ if $confection }}
    {{ warnf "INFO: using confection %s" $confection }}

    {{ $products = where $products ".Params.confection" $confection }}
  {{ else }}
    {{ warnf "INFO: using products" }}
  {{ end }}
{{ end }}

<section class="products-section">
    <div class="container">
        <div class="gallery">
          {{/* First pass - log all errors as warnings */}}
          {{ range sort $products "Weight" }}
                {{/* Validate content and image */}}
                {{ with .File }}
                    {{ $content := readFile .Path }}
                    {{ if findRE "^\\*\\*---" $content }}
                        {{ warnf "ERROR: Invalid frontmatter format (extra ** marks) in %s" .Path }}
                    {{ end }}
                {{ end }}

                {{ $listingImage := or (.Resources.GetMatch "*-listing.jpg") (.Resources.GetMatch "*-listing.jpeg") }}
                {{ if not $listingImage }}
                  {{ with .File }}
                    {{ warnf "ERROR: Missing listing image (*-listing.jpg/*.jpeg) in %s" .Path }}
                  {{ else }}
                    {{ warnf "ERROR: Missing listing image for this product, no associated file found in %s, %s" .Path $params }}
                  {{ end }}
                {{ end }}
          {{ end }}

            {{/* Second pass - render valid products */}}
          {{ range sort $products "Weight" }}
                {{ $product := partial "product-parser.html" . }}

                {{ $valid := true }}
                {{/* Validate content and image */}}
                {{ with .File }}
                    {{ $content := readFile .Path }}
                    {{ if findRE "^\\*\\*---" $content }}
                        {{ $valid = false }}
                    {{ end }}
                {{ end }}

                {{ if not $product.images.listing }}
                    {{ $valid = false }}
                {{ end }}

                {{ if $valid }}
                    <div class="pastry-card" data-image="{{ path.Base .File.Dir }}">
                        <div class="pastry-image">
                          {{ $listingImage := .Page.Resources.Get $product.images.listing }}
                          {{ partial "images/responsive-picture.html" (dict
                            "image" $listingImage
                            "alt" .Title
                            "smallWidth" "300x"
                            "mediumWidth" "600x"
                            "largeWidth" "1000x"
                            ) }}
                        </div>

                      <div class="pastry-info">
                          <div class="content-wrapper">
                              <h3>{{ $product.title }}</h3>
                              <p>{{ $product.description }}</p>


                              {{ if and $product.taxonomies.dietaries (gt (len $product.taxonomies.dietaries) 0) }}
                                <div class="no-wrap-container">
                                  <h4 class="no-wrap">{{ i18n "dietary_option_text" }}: </h4>
                                  {{ $dietaryString := partial "dietary-options-csv.html" $product.taxonomies.dietaries }}
                                    {{ $dietaryString }}
    {{/*                              <ul>*/}}
    {{/*                                {{ range $product.dietary }}*/}}
    {{/*                                  <li>{{ . }}</li>*/}}
    {{/*                                {{ end }}*/}}
    {{/*                              </ul>*/}}
                                </div>
                              {{ end }}
                          </div>
                            <div class="pricing-block">
                              {{ partial "pricing.html" $product.pricing }}
                            </div>

                            <a href="{{ .RelPermalink }}" class="view-button">
                              {{ i18n "view_details_text" }}
                            </a>
                        </div>
                    </div>
                {{ end }}
            {{ end }}
        </div>
    </div>
</section>
