{{ define "main" }}

{{ if not .Site.BuildDrafts }}
  {{ if .Draft }}
    {{ warnf "Skipping draft product page '%s' because --buildDrafts is not set." .File.Path }}
    {{ return }}
  {{ end }}
{{ end }}


{{ $product := partial "product-parser.html" . }}
{{/*{{ warnf "Product Data Debug: %#v" $product }}*/}}
{{/*{{ $json := $product | jsonify (dict "indent" "  ") }}*/}}
{{/*{{ warnf "Rendering product page: %s\n%s" .File.Path $json }}*/}}

{{/*<main class="products-section full-width">*/}}
<main>
    <div class="product-detail">
        <div class="product-content">

            <!-- Gallery section (placeholder) -->
            <div class="product-gallery">
                <div class="main-image">
                  {{ $heroImage := .Page.Resources.Get $product.images.hero }}
                  {{ if not $heroImage }}
                      {{ warnf "Hero image not found for product '%s'. Using listing image as fallback." .File.ContentBaseName }}
                      {{ $heroImage = .Page.Resources.Get $product.images.listing }}
                  {{ end}}

                  {{ partial "images/responsive-picture.html" (dict
                    "image" $heroImage
                    "alt" .Title
                    "smallWidth" "300x"
                    "mediumWidth" "600x"
                    "largeWidth" "1000x"
                    ) }}
                </div>
                <div class="gallery-grid">
                  {{ $galleryPath := printf "products/%s/gallery/*" .File.ContentBaseName }}
                  {{ range ((.Resources.ByType "image").Match $galleryPath) }}
                    <div class="gallery-item">
                      <img src="{{ .RelPermalink }}" alt="{{ $product.title }}">
                    </div>
                  {{ end }}
                </div>
            </div>

            <!-- Product information -->
            <div class="product-info">
                <h1>{{ $product.title }}</h1>

                <!-- Base pricing block -->
                <div class="pricing-block">
                  {{ partial "pricing.html" $product.pricing }}
                </div>

                <!-- Min order block -->
                {{ with $product.pricing  }}
                  {{ if or (and .byWeight .byWeight.minOrder) (and .byEach .byEach.minOrder) }}
                    <div class="min-order">{{ i18n "price_minimum_order_text" }}:
                      {{ with $product.pricing }}
                        {{ with .byWeight }}
                          {{ .minOrder }} {{ i18n "price_per_pound_text" }}
                        {{ end }}

                        {{ if and .byEach .byWeight }}
                            {{ i18n "price_or_text" }}
                        {{ end }}

                        {{ with .byEach }}
                          {{ .minOrder }} {{ i18n "price_per_item_text" }}
                        {{ end }}
                      {{ end }}
                    </div>
                  {{ end }}
                {{ end }}

                <div class="description">{{ $product.description }}</div>

                <!-- General dietary options if not a variant -->
                {{ with $product.baseVariants }}
                    <div class="product-variants">
                      <h3>{{ i18n "dietary_option_text" }}</h3>
                      <div class="options-grid">
                        <!-- Create a slice of dietary terms (keys) -->
                        {{ $dietaryTerms := slice }}
                        {{ range $termSlug, $value := site.Taxonomies.dietaries }}
                          {{ $dietaryTerms = $dietaryTerms | append $termSlug }}
                        {{ end }}
                        {{ warnf "Dietary terms superset: %s" $dietaryTerms }}
                        {{ range . }}
                            {{ $variant := . }}
                            {{ with $variant.dietary }}
                                <!-- Lower case page dietary -->
                                {{ $lower_dietary := slice }}
                                {{ range $i, $term := $variant.dietary }}
                                  {{ $lower_dietary = $lower_dietary | append (lower $term) }}
                                {{ end }}

                                {{ warnf "Product dietary terms: %s\n" $lower_dietary }}

                                <!-- Build dietary string: iterating over the slice of dietary terms -->
                                {{ $dietary := slice }}
                                {{ range $index, $term := $dietaryTerms }}
                                  {{ if in $lower_dietary $term }}
                                      {{ $termWithoutDash := replace $term "-" "_" }}
                                    {{ $dietary = $dietary | append (print "<span data-nobreak>" (i18n (printf "dietary_option_%s_text" $termWithoutDash)) "</span>") }}
                                  {{ end }}
                                {{ end }}
                                {{ $dietaryString := delimit $dietary ", " | safeHTML}}

                                <!--  -->
                                <div class="option-item">
                                  <span class="option-name">{{ $dietaryString }}</span>
                                  <!-- Base pricing block -->
                                  <div class="pricing-block">
                                    {{ partial "pricing.html" $variant.pricing }}
                                  </div>
                                </div>

                            {{ end }}
                          {{ end }}
                      </div>
                    </div>
                  {{ end }}

              <div class="product-details">
                {{ .Content }}
              </div>

{{/*              <!-- Add to cart button -->*/}}
{{/*              <button class="add-to-cart-button">*/}}
{{/*                  {{ i18n "add_to_cart" }}*/}}
{{/*              </button>*/}}
            </div>

        </div>
    </div>
</main>
{{ end }}



